/* your styles go here */

img {
    max-width: 120%;
    max-width: 120vh;
    box-shadow: 0px 4px 18px 0px #000000c9;
    /*<!--max-height: 25rem;-->
    <!--max-height: 70%;-->
    <!--max-height: 70vh;-->*/
}

pagination {
    margin:50px 0 0;
}
pagination :nth-child(2) { 
    float:right;
}
